.container_contact_us{
    background: $purple;
    min-height: calc(100vh - 100px);
    width: 100%;
    padding: 80px 0;

    font-family: 'linotte-regular';
    color: $white;

    .main{
        max-width: 700px;
        margin: auto;

        h2{ 
            margin:0; 
            text-align: center;
            font-family: 'poppinsbold';
            letter-spacing: 5px;
        }

        p{
            text-align: center;
            margin:0;
        }

        .icons{
            margin-top: 40px;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;

            .icon-i{
                width: 100%;
                padding: 10px;
                transition: background .2s;
                border-radius: 20px;
                text-align: center;
                
                i{ font-size: 50px; }
                p{ margin: 5px 0 0 0;}

                &:hover{
                    background: $primary_color;
                    color: $purple;
                    cursor: pointer;
                    transition: all 0.2;
                }

                @include breakpoint-down(medium){
                    grid-column: 1 / 4;
                    width: 80%;
                    margin:auto;
                }
            }
        }
    }
}

.main .show-value{
    margin-top: 20px;
    min-height: 500px;
    width: 700px;
    padding: 10px;
    border-radius: 20px;
    background: $purple_dark;

    @include breakpoint-down(medium){
        width: 90vw;
        margin: 20px auto 0 auto;
    }

    .value_googlemaps{
        display: none;
        height: 500px;
        
        iframe{
            width:100%;
            height: 100%;
            border:0;
            border-radius: 10px;
        }
    }

    .value_form{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px 20px;
        
        background: white;
        padding: 20px 20px;
        border-radius: 10px;
        color: $black;

        h2{
            color: $purple_dark;
            grid-column: 1 / 3;
            margin: 15px 0 10px 0;
            letter-spacing:1px;
        }

        .field{
            grid-column: 1 / 2;

            @include breakpoint-down(medium){
                grid-column: 1 / 3;
            }
            
            
            label{
                display:block;
                font-size: 20px;
                margin-bottom: 10px;
            }

            input, textarea{
                width: 100%;
                height: calc(100% - 53px);
                font-size: 20px;
                border-radius: 7px;
                border:0;
                outline: 1px solid rgba(0,0,0,.2);
                
                padding: 10px 30px 10px 50px;

                &:focus-visible{
                    outline: 2px solid $purple;
                    color:$purple_dark;
                    background: transparent;
                    
                    & ~ i{
                        color:$purple;
                    }
                }
            }

            i{
                position: relative;
                top:-34px;
                left: 15px;
                font-size: 20px;
            }
        }
        
        .msj{
            grid-column: 2 / 3;
            grid-row: 2/5;

            textarea{
                padding: 15px;
                resize: none;
                background: #e1e1e1;
            }

            @include breakpoint-down(medium){
                grid-column: 1 / 3;
                grid-row: auto;
            }
        }

        input[type="submit"]{
            grid-column: 1 / 3;
            justify-self: center;
            font-family: 'poppinsbold';
            color: $white;
            font-size: 20px;
            
            width: 300px;
            padding: 15px 0;
            border:0;
            border-radius: 10px;
            background: $purple;

            cursor: pointer;

            &:hover{
                background: $purple_dark;
            }
        }
    }
}


