/* ==============================
======= PROJECT VARIABLES =======
===============================*/

// Custom Palette color
$primary_color: rgb(243, 244, 241);
$primary_color_lighter_variant: rgb(231, 234, 229); //productos
$primary_color_darker_variant: rgb(214, 217, 209);
$secondary_color: rgb(237, 124, 46);
$text_color: rgb(26, 42, 10);
$text_color_dark: rgb(21, 41, 2);

$background_gray: rgb(221, 224, 218);

// Neutral colors
$black: rgb(0,0,0);
$white: rgb(255,255,255);   

// Font sizes
$fontSmall: 0.875rem; // 14px
$fontMedium: 1.125rem; // 18px
$fontLarge: 25/16 + rem; // 52px
$fontExtraLarge: 45/16 + rem; // 52px