.about-header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/img/about_bg.jpg) no-repeat center/cover;
  height: 100vh;

  .header__nav a {
    color: $primary_color;
  }

  .header__mobile-menu {
    span {
      background-color: $primary_color;
    }
  }
}

.about {
  @include flexContainer(center, center, column);
  height: calc(100vh - 100px);

  &__heading {
    padding: 30/16 + rem;
    font: {
      family: "poppinsbold";
      size: 40/16 + rem;
    }
    color: $white;
    max-width: 600/16 + rem;
    text-align: center;
  }
}

.mission-vision {
  padding: 130/16 + rem 50/16 + rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  column-gap: 100/16 + rem;

  > div {
    width: 100%;
  }

  img {
    width: 100%;
  }

  h2 {
    font: {
      family: "poppinsbold";
      size: 35/16 + rem;
    }
  }

  p {
    font: {
      family: "poppinslight";
    }
    line-height: 1.5;
  }

  @include breakpoint-down(small) {
    grid-template-columns: 1fr;
  }
}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30/16 + rem;
  place-items: center;
  background-color: $primary_color;
  padding: 130/16 + rem 50/16 + rem;

  h2 {
    font: {
      family: "poppinsbold";
      size: 40/16 + rem;
    }
  }

  &__description {
    p {
      font-family: "poppinslight";
      line-height: 1.5;
    }
  }

  &__members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30/16 + rem;

    .member {
      position: relative;
      border-radius: 10/16 + rem;
      max-width: 100%;
      min-width: 450/16 + rem;
      overflow: hidden;
    }

    .content-layer {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $secondary_color;
      top: 0;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      font-family: "poppinsregular";
      color: $primary_color;
      padding: 30/16 + rem;
      @include flexContainer(center, center, column);

      p:nth-child(1) {
        font: {
          family: "poppinsbold";
          size: clamp(20/16 + rem, 10vw, 40/16 + rem);
        }
      }
    }

    .member:hover .content-layer {
      opacity: 1;
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    .member1 {
      grid-row: 1/3;
      align-self: center;
    }

    .member2,
    .member3 {
      max-height: 20rem;
    }
  }

  @include breakpoint-down(large) {
    grid-template-columns: 1fr;

    &__description {
      margin-bottom: 35/16 + rem;
    }

    &__members {
      img {
        min-width: 150/16 + rem;
      }
    }
  }

  @include breakpoint-down(small) {
    &__members {
      grid-template-columns: 1fr;
    }
  }
}
