/*===========================
====== GLOBAL STYLES ========
===========================*/

// Visibility
.hide-mobile {
  // Hide for mobile and tablet devices
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-desktop {
  // Hide for desktop
  @include breakpoint-up(large) {
    display: none;
  }
}

.size-wrapper {
  max-width: 1920/16 + rem;
}

.flex-wrapper {
  @include flexContainer(center, center, column);
}

body {
  background-color: $primary_color;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}
