.container_services {
    background: $primary_color_lighter_variant;
    font-family: "linotte-regular";
    width: 100%;
    color: $text_color;

    .title {
        margin: auto;
        text-align: center;
        width: 400/16 + rem;

        margin-bottom: 70px;
        h1 {
            margin: 0;
            font-size: 60px;
        }
        p{
            font-size: 18px;
        }

    }

    .content_main {
        min-height: calc(100vh - 100px);
        padding-top: 70px;

        .products {
            width: 90%;
            max-width: 1200px;
            margin: auto;

            .card {
                width: 90%;
                height: 500px;
                margin: auto;
                cursor: pointer;

                background: white;
                border-radius: 10px;
                overflow: hidden;

                .img {
                    height: 100%;
                    transition: 0.2s height;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                &:hover {
                    .img {
                        transition: 0.2s all;
                        opacity: 0.9;
                        width: 100%;
                        height: 80%;
                    }
                }

                .star {
                    padding: 10px 15px;

                    i {
                        font-size: 15px;
                        color: rgb(254, 226, 122);
                    }
                }

                .description {
                    padding: 10px 15px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 18px;

                    .desc-value {
                        color: $secondary_color;
                    }
                }
            }
        }

        .btn-down{
            position:absolute;
            right:20px;
            bottom:20px;
            font-size: 70px;
            color: $secondary_color;

            a{
                text-decoration: none;
                i{
                    color: $secondary_color;
                    &:hover{ color: #c5928c; }
                }
            }
        }
    }
}

/*-- botones del slide--*/
.owl-next span,
.owl-prev span {
    font-size: 40px;
    color: $text_color;

    position: absolute;
    top: -60px;
    right: 20px;

    &:hover {
        color: #c5928c;
    }
}

.owl-prev span {
    right: 70px;
}

/** --- galeria ***/
.galery {
    width: 100vw;
    min-height: 100vh;
    background: $bgGalery;
    padding-bottom: 70px;

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 70px;

        width: 90%;
        max-width: 1200px;
        padding: 10px;
        margin: auto;

        h3 {
            grid-column: 1/4;
            text-align: center;
            font-size: 60px;
            margin-bottom:0;
        }

        .grid_img {
            height: 500px;
            border-radius: 20px;
            overflow: hidden;
            cursor: pointer;

            position: relative;

            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            &:hover {
                transform: rotate(2deg) scale(1.05);
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
            }
        }
    }
}
