/* ==============================
======= PROJECT VARIABLES =======
===============================*/
/*===========================
========== MIXINS ===========
===========================*/
/*===========================
====== GLOBAL STYLES ========
===========================*/
@media screen and (max-width: 63.975em) {
  .hide-mobile {
    display: none;
  }
}

@media screen and (min-width: 64em) {
  .hide-desktop {
    display: none;
  }
}

.size-wrapper {
  max-width: 120rem;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: #f3f4f1;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.header {
  width: 100vw;
  height: 100px;
  padding: 1.5625rem 3.125rem;
  background-color: #f3f4f1;
}

.header__logo {
  cursor: pointer;
  font-family: "linotte-light";
  font-size: 3rem;
  color: #1a2a0a;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.header__links {
  width: 100vw;
  height: calc(100vh - 100px);
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 2;
  padding: 2.25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ed7c2e;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease, visibility 500ms ease;
}

.header__links a {
  text-transform: uppercase;
  font-family: "poppinsregular";
  font-size: 1.5625rem;
  color: white;
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.header__links a:not(:last-child) {
  margin-bottom: 1rem;
}

.header__links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #f3f4f1;
  height: 0.1875rem;
  width: 0;
  transition: width 300ms ease-in-out;
}

.header__links a:hover::before {
  width: 100%;
}

.header__mobile-menu > span {
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  background-color: black;
  transition: all 200ms ease-in-out;
  transform-origin: 3px 1px;
}

.header__mobile-menu > span:not(:last-child) {
  margin-bottom: 5px;
}

.header.enabled .header__mobile-menu > span:first-child {
  transform: rotate(45deg);
}

.header.enabled .header__mobile-menu > span:nth-child(2) {
  opacity: 0;
}

.header.enabled .header__mobile-menu > span:last-child {
  transform: rotate(-45deg);
}

.header.enabled .header__links {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 64em) {
  .header .header__links {
    visibility: unset;
    opacity: unset;
    position: initial;
    display: initial;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  .header .header__links a {
    color: #1a2a0a;
    font-size: 0.875rem;
  }
  .header .header__links a:not(:last-child) {
    margin-right: 1.875rem;
    margin-bottom: 0;
  }
  .header .header__links a::before {
    background-color: #ed7c2e;
  }
}

.presentation {
  background-color: #f3f4f1;
  width: 100vw;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  place-items: center;
}

.presentation__container {
  padding-left: 3.125rem;
}

.presentation__heading {
  color: #1a2a0a;
  font-family: Times, "Times New Roman";
  font-size: clamp(2rem, 9vw, 9rem);
  font-weight: 400;
  margin: 1rem 0;
}

.presentation__description {
  color: #1a2a0a;
  font-family: "poppinslight";
  font-size: 1.125rem;
  line-height: 2;
  padding-right: 6.25rem;
}

.presentation__images {
  position: relative;
  height: 100%;
}

.presentation__images img {
  width: 100%;
  height: 100%;
  border-radius: 12.5rem;
}

.presentation__images div {
  position: absolute;
}

.presentation__images .img1 {
  transform: rotate(-10deg);
  width: 25rem;
  height: 37.5rem;
  right: 0;
}

.presentation__images .img1::before {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 12.5rem;
  position: absolute;
  right: -3.125rem;
  bottom: -3.125rem;
  background: #dde0da;
  z-index: -1;
}

.presentation__images .img2 {
  transform: rotate(10deg);
  width: 25rem;
  height: 31.25rem;
  left: 6.25rem;
  bottom: 6.25rem;
}

.presentation__images .img2::before {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 12.5rem;
  position: absolute;
  right: -3.125rem;
  bottom: -3.125rem;
  background: #dde0da;
  z-index: -1;
}

@media screen and (max-width: 87.4375em) {
  .presentation__images .img1 {
    top: 6.25rem;
    width: 18.75rem;
    height: 28.125rem;
  }
  .presentation__images .img2 {
    width: 21.875rem;
    height: 28.125rem;
    left: 0;
  }
}

@media screen and (max-width: 63.975em) {
  .presentation__images .img1 {
    right: -3.125rem;
    width: 15.625rem;
    height: 21.875rem;
  }
  .presentation__images .img2 {
    width: 18.75rem;
    height: 25rem;
    left: 0;
  }
}

.presentation__buy {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "poppinslight";
  font-size: 1.5625rem;
  color: #ed7c2e;
}

.presentation__buy span {
  padding: 0.625rem;
}

@media screen and (max-width: 53.125em) {
  .presentation {
    grid-template-columns: 1fr;
  }
  .presentation .img1 {
    right: 3.125rem;
    top: -6.25rem;
  }
  .presentation .img2 {
    bottom: -3.125rem;
  }
  .presentation__container {
    padding: 3.125rem;
  }
  .presentation__description {
    padding-right: 0;
  }
}

.container_services {
  background: #e7eae5;
  font-family: 'linotte-regular';
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding-top: 70px;
  color: #1a2a0a;
}

.container_services .title {
  margin: auto;
  text-align: center;
  width: 25rem;
  margin-bottom: 100px;
}

.container_services .title h1 {
  margin: 0;
}

.container_services .products {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.container_services .products .card {
  width: 90%;
  height: 400px;
  margin: auto;
  cursor: pointer;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.container_services .products .card .img {
  height: 80%;
  transition: .2s height;
}

.container_services .products .card .img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container_services .products .card:hover .img {
  transition: .2s all;
  opacity: .9;
  width: 100%;
  height: 100%;
}

.container_services .products .card .star {
  padding: 10px 15px;
}

.container_services .products .card .star i {
  font-size: 15px;
  color: #fee27a;
}

.container_services .products .card .description {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.container_services .products .card .description .desc-value {
  color: #ed7c2e;
}

/*-- botones del slide--*/
.owl-next span, .owl-prev span {
  font-size: 40px;
  color: #1a2a0a;
  position: absolute;
  top: -60px;
  right: 20px;
}

.owl-next span:active, .owl-prev span:active {
  color: #ed7c2e;
}

.owl-prev span {
  right: 70px;
}

.avgrund-popup {
  margin-top: -250px;
  border-radius: 10px;
  padding: 25px 10px;
}

.avgrund-popup h2 {
  font-family: 'poppinsbold';
  text-align: center;
  color: #ed7c2e;
  cursor: default;
  margin: 0 0 10px 0;
}

.avgrund-popup .stock {
  display: flex;
  justify-content: space-between;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
}

@media screen and (max-width: 63.975em) {
  .avgrund-popup .stock {
    display: block;
    width: 100%;
  }
}

.avgrund-popup .stock img {
  width: 33%;
  object-fit: cover;
}

@media screen and (max-width: 63.975em) {
  .avgrund-popup .stock img {
    width: 100%;
    height: 33%;
  }
}

.avgrund-popup .btn button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: 0;
  background: 0;
}

.avgrund-popup .btn button i {
  font-size: 40px;
  color: #ed7c2e;
  cursor: pointer;
}

.avgrund-popup .btn button i:hover {
  color: red;
}

main {
  background: white;
}

.container_contact_us {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  padding: 10px 0;
  font-family: "poppinsregular";
  color: black;
}

.container_contact_us .main {
  max-width: 700px;
  margin: auto;
}

.container_contact_us .main h2 {
  letter-spacing: 1.5px;
  text-align: center;
  font-family: "poppinsbold";
  font-size: 1.875rem;
}

.container_contact_us .main p {
  text-align: center;
  margin: 0;
}

.container_contact_us .main .icons {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.container_contact_us .main .icons .icon-i {
  width: 100%;
  padding: 10px;
  transition: background 0.2s;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  color: black;
}

.container_contact_us .main .icons .icon-i i {
  font-size: 50px;
}

.container_contact_us .main .icons .icon-i p {
  margin: 5px 0 0 0;
}

.container_contact_us .main .icons .icon-i:hover {
  color: #5e79c3;
  cursor: pointer;
  transition: all 0.2;
}

@media screen and (max-width: 63.975em) {
  .container_contact_us .main .icons .icon-i {
    grid-column: 1 / 4;
    width: 80%;
    margin: auto;
  }
}

.main .show-value {
  margin-top: 20px;
  min-height: 500px;
  max-width: 700px;
  padding: 8px;
  border-radius: 20px;
  background: #1c3272;
}

@media screen and (max-width: 63.975em) {
  .main .show-value {
    width: 90vw;
    margin: 20px auto 0 auto;
  }
}

.main .show-value .value_googlemaps {
  display: none;
  height: 500px;
}

.main .show-value .value_googlemaps iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
}

.main .show-value .value_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 20px;
  background: white;
  padding: 20px 20px;
  border-radius: 10px;
  color: black;
}

.main .show-value .value_form h2 {
  color: #1c3272;
  grid-column: 1 / 3;
  margin: 15px 0 10px 0;
  letter-spacing: 1px;
}

.main .show-value .value_form .field {
  grid-column: 1 / 2;
}

@media screen and (max-width: 63.975em) {
  .main .show-value .value_form .field {
    grid-column: 1 / 3;
  }
}

.main .show-value .value_form .field label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.main .show-value .value_form .field input,
.main .show-value .value_form .field textarea {
  width: 100%;
  height: calc(100% - 53px);
  font-size: 20px;
  border-radius: 7px;
  border: 0;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 30px 10px 50px;
}

.main .show-value .value_form .field input:focus-visible,
.main .show-value .value_form .field textarea:focus-visible {
  outline: 2px solid #5e79c3;
  color: #1c3272;
  background: transparent;
}

.main .show-value .value_form .field input:focus-visible ~ i,
.main .show-value .value_form .field textarea:focus-visible ~ i {
  color: #5e79c3;
}

.main .show-value .value_form .field input:hover,
.main .show-value .value_form .field textarea:hover {
  cursor: pointer;
}

.main .show-value .value_form .field i {
  position: relative;
  top: -34px;
  left: 15px;
  font-size: 20px;
}

.main .show-value .value_form .msj {
  grid-column: 2 / 3;
  grid-row: 2/5;
}

.main .show-value .value_form .msj textarea {
  padding: 15px;
  resize: none;
  background: #e1e1e1;
}

@media screen and (max-width: 63.975em) {
  .main .show-value .value_form .msj {
    grid-column: 1 / 3;
    grid-row: auto;
  }
}

.main .show-value .value_form input[type="submit"] {
  grid-column: 1 / 3;
  justify-self: center;
  font-family: "poppinsbold";
  color: white;
  font-size: 20px;
  width: 300px;
  padding: 15px 0;
  border: 0;
  border-radius: 10px;
  background: #5e79c3;
  cursor: pointer;
}

.main .show-value .value_form input[type="submit"]:hover {
  background: #1c3272;
}

.custom-shape-divider-top-1634083700 {
  position: absolute;
  top: 6.25rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1634083700 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
}

.custom-shape-divider-top-1634083700 .shape-fill {
  fill: #f3f4f1;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 100px);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/img/about_bg.jpg) no-repeat center/cover;
}

.about__heading {
  padding: 1.875rem;
  font-family: "poppinsbold";
  font-size: 2.5rem;
  color: white;
  max-width: 37.5rem;
  text-align: center;
}

.mission-vision {
  margin-top: 5rem;
  padding: 3.125rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  column-gap: 6.25rem;
}

.mission-vision > div {
  width: 100%;
}

.mission-vision img {
  width: 100%;
}

.mission-vision h2 {
  font-family: "poppinsbold";
  font-size: 2.1875rem;
}

.mission-vision p {
  font-family: "poppinslight";
  line-height: 1.5;
}

.team {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  column-gap: 1.875rem;
  place-items: center;
  background-color: #f3f4f1;
  margin-top: 5rem;
  padding: 3.125rem;
}

.team h2 {
  font-family: "poppinsbold";
  font-size: 2.5rem;
}

.team__description p {
  font-family: "poppinslight";
  line-height: 1.5;
}

.team__members {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.875rem;
}

.team__members img {
  border-radius: 0.625rem;
  max-width: 28.125rem;
}

.team__members .member1 {
  grid-row: 1/3;
  align-self: center;
}

.transition-container .layer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  top: 0;
}

.transition-container .in-layer .layer {
  left: -100vw;
}

.transition-container .out-layer .layer {
  left: 0;
}

.transition-container .layer1 {
  background-color: #f3f4f1;
}

.transition-container .layer2 {
  background-color: #e7eae5;
}

.transition-container .layer3 {
  background-color: #d6d9d1;
}

.transition-container.slide-in .in-layer .layer1 {
  animation: slide 300ms ease-in-out forwards;
}

.transition-container.slide-in .in-layer .layer2 {
  animation: slide 300ms ease-in-out forwards;
  animation-delay: 150ms;
}

.transition-container.slide-in .in-layer .layer3 {
  animation: slide 300ms ease-in-out forwards;
  animation-delay: 300ms;
}

.transition-container.slide-back .out-layer .layer1 {
  animation: slide_back 300ms ease-in-out forwards;
  animation-delay: 300ms;
}

.transition-container.slide-back .out-layer .layer2 {
  animation: slide_back 300ms ease-in-out forwards;
  animation-delay: 150ms;
}

.transition-container.slide-back .out-layer .layer3 {
  animation: slide_back 300ms ease-in-out forwards;
}

@keyframes slide {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}

@keyframes slide_back {
  from {
    left: 0;
  }
  to {
    left: -100vw;
  }
}
